extends ../layout
block body
	- var user_id = user ? user._id + "" : "";
	div(class="container annotation-table", id="gene-annotations")
		br
		h3 #{gene} mutation annotations 
		br
		//- table is called gene-annotation-table
		include ./gene-table.jade
		br
		div(id="annotationStatus", class="text-center", style="width:100%;display:off")

block belowTheFold
	script(src='/components/DataTables/media/js/jquery.dataTables.min.js').
	script(src='/js/dataTableWrapper.js').
	script(type='text/javascript').
		//- Convert the tables into DataTables
		var tbl = addDataTable({
				tableID: "#gene-annotation-table", aaSorting: [[0, "asc"]]
			});

		$("#gene-annotation-table_info").css({'font-weight': 'bold', 'font-size': '110%'});
		$(document).ready(function(){

			$('span.anno-vote-on').on('click', function() {
				// do nothing if it's already liked
				if( $(this).hasClass('anno-liked')) {
					return;
				}
				var formData = new FormData();
				formData.append("aber_id", $(this).data('id'));
				var majorityData = $(this).data('majority');

				var fields = ['source', 'reference', 'cancer', 'is_germline', 'measurement_type', 'characterization'];
				var here = $(this);
				fields.forEach(function(field) {
					var elem = here.parent().siblings('td.' + field);
					var datum = elem.data(field);
					formData.append(field, datum);
				});

				$.ajax({
					url: '/vote/mutation',
					data: formData,
					contentType: false,
					processData: false,
					type: 'POST',
					error: function (xhr) {
						annotationStatus('Database error: ' + xhr.status, warningClasses);
					},
					success: function(response) {
						if (response.error) {
							annotationStatus(response.error, warningClasses);
							return;
						}
						annotationStatus(response.status, successClasses);
						here.addClass('anno-liked');
						here.attr("style","");
					}
				});
			});
		});



		// Make sure to re-bind the onclick functionality whenever the table changes
		tbl.on( 'draw', function () {
			setupPopovers();
		} );


		var infoClasses	 = 'alert alert-info',
			warningClasses = 'alert alert-warning',
			successClasses = 'alert alert-success';

		function annotationStatus(msg, classes) {
			$('#annotationStatus').attr('class', classes);
			$('#annotationStatus').html(msg);
			$('#annotationStatus').show().delay(5000).slideUp();
		}
