extends layout
block body

	div(class="container")
		h2 List of abbreviations
		hr
		h4
			| Cancer types&nbsp;
			small Cancer type abbreviations are compiled from the TCGA and ICGC.
		br
		table(class="table table-bordered table-striped", id="cancer-abbreviations")
			tr
				th Color
				th Abbreviation
				th Cancer
			- for (var i in cancers)
				- var d = cancers[i];
				tr
					td(style="background:#{d.color};width:30px;")
					td #{d.abbr}
					td #{d.cancer}
