extends layout
block body

	div(class="container")
		h3 Contact
		| CGAT was created by the Raphael research group at Brown University.
		br
		br
		address(style="margin-left:15px;width:350px")
			img(src="/img/brown.gif", style="float:right")
			strong
				a(href="http://compbio.cs.brown.edu") Raphael Lab
			br
			| Box 1910, Computer Science Department
			br
			| Brown University
			br
			| Providence, RI 02912
			br
			abbr(title="Email") E: &nbsp;
			| braphael AT cs DOT brown DOT edu
			br
			abbr(title="Phone") P: &nbsp;
			| (401) 863-7643

		| For questions or concerns regarding CGAT, please contact&nbsp; 
		a(href="mailto:Max Leiserson <mdml@cs.brown.edu>?subject=CGAT server", target="_new") Max Leiserson
		| &nbsp; directly.