extends layout
block body
	br
	div(class="container")
		h3 Contact
		| MAGI was created by the Raphael research group at Brown University.
		br
		br
		address
			img(src="/img/brown.gif")
			strong
				a(href="http://compbio.cs.brown.edu") Raphael Lab
			br
			| Box 1910, Computer Science Department
			br
			| Brown University
			br
			| Providence, RI 02912
			br
			abbr(title="Email") E: &nbsp;
			| braphael AT cs DOT brown DOT edu
			br
			abbr(title="Phone") P: &nbsp;
			| (401) 863-7643

		| For questions or concerns regarding MAGI, please contact&nbsp; 
		a(href="mailto:Max Leiserson <mdml@cs.brown.edu>?subject=MAGI server", target="_new") Max Leiserson
		| &nbsp; directly.