doctype html
html(ng-app="cgat")
	head
		meta(charset='utf8')
		link(rel="icon", type="image/png", href="img/favicon.png")
		meta(name="fragment", content="!")
		base(href='/view')
		title CGAT
		link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/app.css')
		link(rel='stylesheet', href='css/elusive-webfont.css')
	body()
		div(class="container-fluid", id="header", role="navigation")
			div(class="page-header")
				div(style="float:right", id="login")
					//- Ask the user to login or show his/her name
					- if (user)
						| Welcome, &nbsp;
						a(href="/account") #{user.name}
						| &nbsp; | &nbsp;
						a(href="/logout") Logout
					- else
						a(href="/auth/Google") Login via Google
				h1
					a(href="/")
						img(src="img/cgatTop.svg", id="small-logo")

		block body

		hr
		div(id="footer", class="container")
			p(class="col-lg-4 text-left") Updated: February 6th, 2014
			p(class="col-lg-4 text-center") Copyright 2014.
			ul(id="more-info", class="col-lg-4 text-right")
				li
					a(href="/terms", target="_new") Terms
				li
					a(href="/privacy", target="_new") Privacy

				li
					a(href="/contact") Contact
				li
					a(href="/support") Support
