doctype html
html(ng-app="cgat")
	head
		meta(charset='utf8')
		link(rel="icon", type="image/png", href="img/favicon.png")
		meta(name="fragment", content="!")
		title CGAT
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/elusive-webfont.css')

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-47916336-1', 'brown.edu');
			ga('send', 'pageview');

	body()
		block header
			div(class="container-fluid", id="header", role="navigation")
				div(class="page-header")
					div(id="login")
						//- Ask the user to login or show his/her name
						- if (user)
							| Welcome, &nbsp;
							a(href="/account") #{user.name}
							| &nbsp; | &nbsp;
							a(href="/logout") Logout
						- else
							a(href="/auth/Google") Login via Google
					h1
						a(href="/")
							img(src="/img/cgatTop.svg", id="small-logo")

		br
		block body

		block footer
			hr
			div(id="footer", class="container")
				p(class="col-lg-4 text-left") Updated: April 23rd, 2014
				p(class="col-lg-4 text-center") Copyright 2014.
				ul(id="more-info", class="col-lg-4 text-right")
					li
						a(href="/acknowledgements") Acknowledgements
					li
						a(href="/terms", target="_new") Terms
					li
						a(href="/privacy", target="_new") Privacy

					li
						a(href="/contact") Contact
					li
						a(href="#", id="give-feedback") Feedback

script(id="_webengage_script_tag" type="text/javascript").
	var _weq = _weq || {};
	_weq['webengage.licenseCode'] = '#{webengageID}';
	_weq['webengage.widgetVersion'] = "4.0";
	(function(d){
		var _we = d.createElement('script');
		_we.type = 'text/javascript';
		_we.async = true;
		_we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
		var _sNode = d.getElementById('_webengage_script_tag');
		_sNode.parentNode.insertBefore(_we, _sNode);
	})(document);
block belowTheFold
