extends layout
block body
	div(class="container")
		h3
			| You must be logged in to do that.&nbsp;
			small Please login via Google by clicking the button below.
		br
		a(href="/auth/google")
			button(class="btn btn-primary") Login via Google