extends layout
block body
	br
	div(class="container")
		h3 Support
		| We are eager to hear your success stories or challenges using MAGI.
		| Please feel free to post to our&nbsp;
		a(href="http://compbio.cs.brown.edu") Google Group 
		| or contact&nbsp;
		a(href="mailto:Max Leiserson <mdml@cs.brown.edu>?subject=MAGI server", target="_new") Max Leiserson
		| &nbsp;directly.
		br
		br
		h4 Generating files for upload
		| We understand that it can be a challenge to generate data in the proper format for upload to MAGI.
		| We provide a script that will convert data in&nbsp;
		a(href="https://wiki.nci.nih.gov/display/TCGA/Mutation+Annotation+Format+(MAF)+Specification", target="_new") TCGA MAF format
		| &nbsp;into the&nbsp;
		a(href="/upload#snv-format") SNV TSV format used by MAGI
		| , and a script that will convert data in&nbsp;
		a(href="ftp://ftp.broadinstitute.org/pub/genepattern/modules_public_server_doc/GISTIC2.pdf") GISTIC2 format
		| &nbsp;into the TSV format used by MAGI. If you develop your own script(s) to generate TSV data for MAGI
		| that you don't mind sharing, please feel free to&nbsp;
		a(href="/contact") contact us
		| &nbsp;and we'll be happy to post it here for anyone to use.
		br
		br
		h4 MAF Parser
		b Script:&nbsp;
		a(href="/scripts/mafToTSV.py") mafToTSV.py
		br
		b Required files:&nbsp;
		| The MAF parser requires one of the following files that maps transcripts to their lengths.
		ul
			li
				a(href="/scripts/ensembl_transcript_lengths.json") ENSEMBL transcript lengths
			li
				a(href="/scripts/refseq_transcript_lengths.json") RefSeq transcript lengths

		h4 GISTIC2 Parser
		b Script:&nbsp;
		a(href="/scripts/gistic2tsv.py") gistic2tsv.py
		br
		b Required files:&nbsp;
		| The GISTIC2 parser requires a JSON file that maps genes to their genome locations:
		ul
			li
				a(href="/scripts/hg19_genes_list.json") HG19 gene list

