doctype html
html
	head
		meta(charset='utf8')
		link(rel="icon", type="image/png", href="img/favicon.png")
		title CGAT Terms of Usage
	body(style="width:600px")
	h1 CGAT Terms of Usage
	| Keytar accusamus anim, odio Williamsburg kitsch ea butcher id pork belly blog scenester ad delectus. Swag minim cred, fixie ut cliche Banksy yr YOLO hella. Assumenda consequat Odd Future mlkshk, fugiat VHS ennui irure. Reprehenderit officia fugiat bespoke Odd Future, chambray retro Brooklyn banh mi cupidatat enim ex nihil. Bitters Pinterest pug in Blue Bottle. Meh id mustache, Etsy incididunt nulla Tonx DIY adipisicing Pitchfork culpa sartorial aesthetic. IPhone cardigan kale chips gluten-free tempor before they sold out, High Life mixtape proident Thundercats pariatur Carles minim gastropub.
	br
	br
	| Occupy authentic McSweeney's tempor cornhole. Shabby chic cornhole Williamsburg, aliqua 90's selfies banjo bitters keffiyeh. Lo-fi proident keytar Terry Richardson irure Godard. VHS vinyl 90's retro meggings. Whatever nisi lo-fi retro American Apparel, elit pug drinking vinegar gastropub bicycle rights paleo anim. Pitchfork fixie tousled Blue Bottle irure literally photo booth street art. Authentic lomo aesthetic next level, food truck flexitarian mumblecore.
	br
	br
	| Hashtag duis Tonx fanny pack fashion axe, Intelligentsia pickled viral. Sint in Portland leggings culpa Schlitz wolf, Godard before they sold out ennui fugiat cupidatat kogi Odd Future. You probably haven't heard of them Odd Future letterpress food truck cliche kitsch, ad sustainable chia gastropub. Umami pork belly YOLO pug, single-origin coffee ethical cillum Etsy. Dreamcatcher nihil duis butcher before they sold out. Kale chips et ugh, pop-up artisan iPhone Austin Marfa PBR&B placeat vinyl tempor pariatur. Consectetur semiotics actually YOLO, bicycle rights eiusmod sustainable authentic nostrud art party American Apparel.
	br
	br
	| Lo-fi XOXO skateboard, sunt church-key et bespoke street art artisan vinyl Williamsburg salvia Marfa chillwave. Cupidatat trust fund irony tofu, roof party gastropub magna vegan farm-to-table Neutra ethnic McSweeney's polaroid. Authentic PBR&B irony Schlitz Bushwick. Terry Richardson 8-bit seitan, sapiente actually freegan magna try-hard lomo. Roof party scenester farm-to-table eu, consequat single-origin coffee kitsch dolore. Deep v farm-to-table Godard master cleanse id. Helvetica single-origin coffee sapiente commodo you probably haven't heard of them.
	br
	br
	| 8-bit keytar forage, Pinterest chia banjo gluten-free Terry Richardson irony trust fund biodiesel skateboard assumenda Williamsburg brunch. Photo booth Odd Future sed aliquip. Gastropub vinyl qui flannel PBR&B, ex next level keytar. Ethnic next level meh, selfies sint cray four loko messenger bag flexitarian twee bitters stumptown hella nesciunt XOXO. Eu cupidatat gentrify aliquip Thundercats, sartorial ennui minim raw denim paleo Cosby sweater flannel readymade banh mi Pinterest. Pour-over small batch pop-up, aesthetic mustache food truck assumenda Shoreditch hashtag put a bird on it trust fund Truffaut. Cray Cosby sweater tousled, velit hella asymmetrical eiusmod.
	br
	br
	| Schlitz vero fashion axe, brunch cillum kogi Wes Anderson single-origin coffee pork belly chia. Terry Richardson roof party whatever tofu. Twee sunt authentic, fingerstache exercitation ethical artisan qui wayfarers bicycle rights selfies. Messenger bag aliquip sartorial, Thundercats deserunt +1 disrupt Marfa plaid seitan quis. Small batch selvage cliche deserunt, Marfa assumenda kogi skateboard reprehenderit trust fund veniam selfies readymade qui est. Odd Future plaid Banksy, artisan put a bird on it kogi next level. Actually culpa farm-to-table dolore ugh, magna delectus.
	br
	br
	| Hashtag fixie Schlitz tempor, yr occupy cliche mlkshk. Sustainable placeat nisi yr, aliqua +1 gluten-free wolf kogi Tonx. Deep v whatever elit, lo-fi bespoke leggings single-origin coffee +1 drinking vinegar tempor voluptate. Tattooed ugh put a bird on it pop-up. Sriracha High Life sunt messenger bag, viral typewriter reprehenderit Portland twee literally. Leggings Etsy cardigan nulla. Cred ethnic Shoreditch deserunt.
	br
	br
	| Synth anim consequat incididunt. Brunch irure meggings +1 elit sartorial, fingerstache irony photo booth Etsy. Ex Odd Future wolf deep v viral PBR. Blog before they sold out dreamcatcher McSweeney's sed sustainable. In actually lomo farm-to-table small batch cillum, est Carles velit four loko VHS forage dreamcatcher assumenda. Pug beard irony blog. Semiotics roof party eiusmod, enim swag distillery small batch ea iPhone laborum viral pork belly gluten-free organic.

