extends layout
block body
    div(class="container", id="upload")
        h3 Upload your mutation data.
        p(class="caption")
            | Query your own mutation data by uploading it to our servers.
            | Provide a name, an optional group, and files containing the SNVs, CNAs, or generic abberrations, and samples in your dataset.
            | If your files contain samples from multiple datasets, CGAT will automatically create a group of these datasets that you can then
            | query as a group or individually.
            | After uploading your data, you will be able to query it from the&nbsp;
            a(href="/") home page
            | . You can manage all your uploaded datasets from your&nbsp;
            a(href="/account") account page.
        form(method="post", action="/", role="form", id="data-upload-form")
            label
                | Dataset name (e.g. cancer type).
            input(type="text", id="dataset", name="dataset", class="form-control", placeholder="Enter dataset name.")
            br
            label
                | Group name (optional).
            input(type="text", id="groupName", name="groupName", class="form-control", placeholder="Enter group name (optional).")
            br
            label
                | Single nucleotide variants (
                a(href="/upload#snvs-format") format
                | ).
            input(type="file", id="SNVs", name="SNVs")
            br
            label
                | Copy number variants (
                a(href="/upload#cnas-format") format
                | ).
            input(type="file", id="CNAs", name="CNAs")
            br
            label
                | Generic aberration matrix (
                a(href="/upload#aberrations-format") format
                | ).
            input(type="file", id="aberrations", name="aberrations")
            br
            label
                | Tested samples (optional,&nbsp;
                a(href="/upload#samples-format") format
                | ).
            input(type="file", id="testedSamples", name="testedSamples")
            br
            label
                | Color (hex;&nbsp;
                a(onclick="randomColor(); return false;") initialize randomly
                | )
            div
                span(id="db-color", style="width:33px;height:33px;padding:2px;margin-right:5px;border:1px solid #eee;border-radius:8px;float:left")
                input(type="text", id="color", name="color", class="form-control", placeholder="#XXXXXX", style="width:100px", maxlength="7")
            br
            button(type="submit", id="submit", class="btn btn-default") Upload
            br
            br
            div(id="status")
        hr
        h3 File formats
        br
        | The input files for CGAT are all text (.txt) or tab-separated (.tsv) files.
        br
        br
        a(name="colors")
        div(id="colors")
            h4 Cancer type abbreviations and colors
            | CGAT recognizes a list of <a href="/abbreviations">cancer abbreviations</a> compied from TCGA and ICGC.
            | In order to map your data to the CGAT color schemes and annotations, please use these abbreviations
            | when labeling your dataset. You can always provide your own color to replace the CGAT default color.
        br
        br
        a(name="aberrations-format")
        div(id="aberrations-format")
            h4 Generic aberrations file format.
            p(class="caption")
                | The generic aberrations file is a tab-separated file (*.tsv) that includes aberrations of an unspecified type for a dataset.
                | Each row lists a sample ID in the first column, and a list of genes with aberrations in that sample in the remaining columns.
        br
        br
        a(name="snvs-format")
        div(id="snvs-format")
            h4 Single nucleotide variant (SNV) file format.
            p(class="caption")
                | The SNV file is a tab-separated file (*.tsv) that includes all SNVs for a dataset.
                | Each row contains the data for a single SNV that occurs in one gene in one particular sample.
                | The table below shows an example row.
                | The columns whose names are starred are required.
                | Missing data should be replaced with '--'.
            table(class="table table-bordered table-striped")
                tr
                    th Column
                    th Name (*=required)
                    th Example
                    th Description
                tr
                    td 1
                    td Gene*
                    td PIK3CA
                    td Gene name.
                tr
                    td 2
                    td Sample*
                    td TCGA-FD-A3B6
                    td Sample ID.
                tr
                    td 3
                    td Transcript
                    td ENST00000263967
                    td Transcript ID (RefSeq/ENSEMBL).
                tr
                    td 4
                    td Transcript Length
                    td 1068
                    td Length of transcript.
                tr
                    td 5
                    td Locus
                    td 545
                    td Position in transcript at which SNV occurred.
                tr
                    td 6
                    td Mutation Type
                    td Missense_Mutation
                    td
                        | Type of mutation that occurred. CGAT understands the following mutation types:
                        ul
                            li Nonsense_Mutation
                            li Frame_Shift_Del
                            li Frame_Shift_Ins
                            li Missense_Mutation
                            li Splice_Site
                            li In_Frame_Del
                            li In_Frame_Ins
                tr
                    td 7
                    td Original &nbsp;
                        abbr(title="Amino Acid") AA
                    td E
                    td The amino acid at the locus before the variant occurred.
                tr
                    td 8
                    td New &nbsp;
                        abbr(title="Amino Acid") AA
                    td Q
                    td The amino acid at the locus after the variant occurred.
        a(name="cnas-format")
        div(id="cnas-format")
            h4 Copy number aberration (CNA) file format.
            p(class="caption")
                | The CNA file is a tab-separated file (*.tsv) that includes all CNAs for a dataset.
                | Each row contains the data for a single copy number segment that occurs in one gene in one particular sample.
                | The table below shows an example row.
                | The columns whose names are starred are required.
            table(class="table table-bordered table-striped")
                tr
                    th Column
                    th Name (*=required)
                    th Example
                    th Description
                tr
                    td 1
                    td Gene*
                    td PIK3CA
                    td Gene name.
                tr
                    td 2
                    td Sample*
                    td TCGA-FD-A3B6
                    td Sample ID.
                tr
                    td 3
                    td CNA type
                    td 
                        | Type of CNA that occurred. CGAT understands the following CNA types:
                        ul
                            li AMP
                            li DEL

                    td Copy number type.
                tr
                    td 4
                    td Left
                    td 29843973
                    td Left start-point of segment.
                tr
                    td 5
                    td Right
                    td 30327089
                    td Right end-point of segment.

        a(name="samples-format")
        div(id="samples-format")
            h4 Sample file format.
            p(class="caption")
                | The sample file is a text or tab-separated file (*.txt/*.tsv) that lists all the tested samples for a given dataset or group of datasets.
                | These samples may or may not have SNVs or CNAs.
                | Each row lists a single sample ID and (optionally) the dataset (cancer type) of the sample.
                | 
block belowTheFold
    script(src='components/jquery/dist/jquery.min.js').
    script(src='components/jquery-form/jquery.form.js')
    script(src="js/dataset-upload-control.js")
    script.
        function randomColor(){
            var color = '#' + Math.random().toString(16).substr(-6);
            $('#db-color').css('background', color)
            $("input#color").val(color);
        }
        $("input#color").on("change", function(){
            $("span#db-color").css('background', $("input#color").val());
        });