extends header
block body
    div(class="container-fluid", ng-view)

    hr
    div(id="footer", class="text-left")
        p(style="text-align:center") Updated: December 11th, 2013
        
    script(src='components/angular/angular.min.js').
    script(src='components/angular-route/angular-route.min.js').
    script(src='components/jquery/jquery.min.js').
    script(src='components/d3/d3.min.js').
    script(src='components/showdown/compressed/showdown.js').
    script(src='components/bootstrap/dist/js/bootstrap.min.js').
    script(src='js/app.js').
    script(src='js/controllers.js').
    script(src='js/directives.js').
    script(src='js/services.js').
    script(src='js/gd3/cna-browser.js').
    script(src='js/gd3/lolliplots.js').
    script(src='js/gd3/oncoprinter.js').
    script(src='js/gd3/subnetwork.js').
