extends layout
block body
  br
  div(id="loading")
    h3 Loading...
    img(src="/img/spinner.gif")
  div(id="view-page")
    div(id="control-panel")
      h4 Control Panel <span id="hideControlPanel">[-]</span>
      div(id="controls")
      div(id="saveBox" class="panel panel-default" style="padding:0px")
        div(class="panel-heading", style="padding:5px")
          h5(class="panel-title", style="cursor:pointer;font-size:14px;", id="saveLink")
            | Download options
            span(style="float:right") [+]

        div(id="collapseSave", class="panel-collapse collapse")
          div(class="panel-body", style="padding:5px")
            p(style="margin:0px;") Select <a href="" id="saveSelectAll"> all</a> or <a href="" id="saveSelectNone">none</a>
            ul(id="saveOptList", style="padding:0px;list-style:none;")
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="cna-download", style="margin-right:5px;")
                  | CNA view
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="heatmap-download", style="margin-right:5px;")
                  | Heatmap
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="aberrations-download", style="margin-right:5px;")
                  | Aberrations view
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="network-download", style="margin-right:5px;")
                  | Network view
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="transcript-download", style="margin-right:5px;")
                  | Transcript view
            a(id="downloadLink", style="cursor:pointer")
              | &raquo; Download as SVG
            br
            a(id="downloadLinkPNG", style="cursor:pointer")
              | &raquo; Download as PNG

            div(id="saveErrMsgContainer")

      div(id="annotation" class="panel panel-default", style="padding:0px;")
        div(class="panel-heading", style="padding:5px")
          h5(class="panel-title", style="cursor:pointer;font-size:14px;", id="annotateLink")
            | Annotate
            span(style="float:right") [+]

        div(id="collapseAnnotation", class="panel-collapse collapse in")
          div(class="panel-body", style="padding:5px;font-size:90%")
            - if (user)
              | Enter your own annotations.
              form(method="post", role="form", id="annotation-form")
                select(class="form-control", id="gene")
                  option(value="") -- choose gene --
                br
                select(class="form-control", id="interaction")
                  option(value="") -- choose interaction --
                  option(value="Amp") is amplified in
                  option(value="Del") is deleted in
                  option(value="SNV") is mutated in
                  option(value="Expression") is expressed (over/under) in
                  option(value="Methylation") is methylated (hypo/hyper) in
                  option(value="interact") interacts with
                br
                div(id="inputs", style="display:none")
                  select(class="form-control", id="interactor",  style="display:none;")
                  div(id="cancers", class="typeahead", style="display:none")
                    label Cancer
                    input(class="typeahead form-control", id="cancer-typeahead", type="text", placeholder="Cancer")
                    br
                    br
                  div(id="transcript-mutation", style="display:none")
                    label
                      | Mutation type
                      span(class="glyphicon glyphicon-remove", onclick="$(this).parent().parent().hide()")
                    input(class="form-control", id="mut_ty", placeholder="Mutation type")
                    br
                  div(id="transcript-position", style="display:none")
                    label
                      | Position
                      span(class="glyphicon glyphicon-remove", onclick="$(this).parent().parent().hide()")
                    input(class="form-control", id="position", placeholder="Mutation position", type="number")

                    br
                  div(id="transcript-domain", style="display:none")
                    label
                      | Domain
                      span(class="glyphicon glyphicon-remove", onclick="$(this).parent().parent().hide()")
                    input(class="form-control", id="domain", placeholder="Domain name")
                    br
                  div(id="annotations")
                    label PMID
                    input(class="form-control", id="pmid", placeholder="PMID", maxlength="8")
                    br
                  div(id="comments")
                    label
                      | Comments
                      span(class="glyphicon glyphicon-remove", onclick="$(this).parent().parent().hide()")
                    textarea(class="form-control", id="comment", placeholder="Enter any comments.", type="textarea")
                    br
                  button(type="submit", id="submit", class="btn btn-default") Submit
                  br
                div(id="annotationStatus")
              br
              a(href="#", id="reset-annotation")
                span(class="glyphicon glyphicon-trash", onclick="resetAnnotation()", style="cursor:pointer")
                | &nbsp;Reset.
            - else
              | You must <a href="/auth/google/returnTo">Login</a> to be able to add annotations.

      div(id="share")
        //- Button trigger modal
        button(id="shareBtn", class="btn btn-primary btn-md", data-toggle="modal", data-target="#myModal") Share

    div(id="instructions")
      div(class="panel panel-default")
        div(class="panel-heading")
          h4(class="panel-title", data-toggle="collapse", data-target="#collapseOne", style="cursor:pointer", id="instructionsLink")
            | INSTRUCTIONS
            span(style="float:right") [+]

        div(id="collapseOne", class="panel-collapse collapse")
          div(class="panel-body")
            ul
              li
                i
                  b Network view.&nbsp;
                | Shows the interactions among genes on the HINT, HPRD, or iRefIndex interaction networks.
                | You can <b>toggle the interaction networks</b> shown by clicking on them in the legend,
                | and you can <b>reposition the nodes </b>in the subnetwork for a better view by <b>dragging/dropping</b> them.
              li
                i
                  b Aberrations view.&nbsp;
                | Shows the mutations of genes (rows) across samples (columns). Samples are colored by cancer type.
                | Full ticks represent SNVs, downticks represent deletions, upticks represent amplifications,
                | and triangles represent fusions, rearragements or splice variants.
                | Only samples with a mutation in the given subnetwork are shown.
                | You can <b>zoom in on and drag the mutation matrix</b> by scrolling and/or clicking the figure with your mouse.
              li
                i
                  b Heatmap view.&nbsp;
                | Shows continuous-valued data in a query set of genes (rows) in a cohort of samples (columns) as heatmap.
                | By default, displays expression data in only the samples in which the genes are mutated.
              li
                i
                  b Transcript view.&nbsp;
                | Shows the mutations in each REFSEQ transcript of each gene in the subnetwork.
                | Mutations are colored by cancer type. Each symbol represents a distinct mutation type.
                | Putatively inactivating mutations are shown below the transcript, and the remaining mutations are shown above the transcript.
                | Select one of the three protein domain databases, including Pfam, SMART, and NCBI Conserve Domain, to show annotated protein domains for each transcript -- scroll over a domain to reveal its name.
                | You can <b>zoom in on and drag the transcript annotation</b> by scrolling and/or clicking the figure with your mouse.
              li
                i
                  b CNA view.&nbsp;
                | Shows the copy number aberrations surrounding the selected gene (highlighted as red) on the chromosome.
                | The topest panel shows genes (shown as blocks) distributed in the region.
                | You can click and drag a window in this panel to zoom in and see the details in the middle and bottom panels.
                | The middle and bottom panels show genes and copy number aberration inside the zoom in window you just dragged, respectively.
                | Copy number aberrations are colored by cancer type.
                | Each row represents one sample.
                | You can mouseover copy number aberration to get more detail information.

    div(id="spinner")
    div(id="view")

      div
        h3
          | Aberrations
          small
            | &nbsp;&nbsp;
            a(id="printAberrs", title="Print aberrations view.")
                span(class="glyphicon glyphicon-print")
        div(id="aberrations")
        br
        //- Heatmap view
        div
          h3(id="heatmap-title")
              span(class="name") Heatmap
              small(style="font-size:12px")
                | &nbsp;&nbsp;
                a(id="printHmpViz", title="Print heatmap.")
                    span(class="glyphicon glyphicon-print")
          div(id="heatmap")


      hr(style="margin:0px;")

      div(class="half-page-view leftside")
          h3
            | Network
            small(style="font-size:12px")
              | &nbsp;&nbsp;
              a(id="printSubNet", title="Print network.")
                  span(class="glyphicon glyphicon-print")
          div(id="network")

      div(class="half-page-view rightside")
          h3
            | Transcript
            small
              | &nbsp;&nbsp;
              a(id="printTrnAnt", title="Print transcript view.")
                  span(class="glyphicon glyphicon-print")
          select(class="form-control", id="transcript-select")
          div(id="transcript")

      hr(style="clear:both;margin:0px;")

      //- CNA view
      div
        h3
          | Copy number aberrations
          small
            | &nbsp;&nbsp;
            a(id="printCnaViz", title="Print CNA view.")
                span(class="glyphicon glyphicon-print")

        select(class="form-control", id="cnas-select")
        div(id="cnas")

    br
    br
    div(style="margin-left: 20px;min-width: 400px; max-width: 600px; margin-right: 200px")
      input(id="magiConsentViewToggle", style="display:inline-block;margin-right:5px", type="checkbox")
      p(style="display:inline-block") I do not want to improve the development of MAGI by sending usage information. <a href="" id="magi-loggingReadMore" style="color:rgb(100,100,100)">(Read More)</a>
      div(id="magi-loggingReadMoreDiv")
        blockquote
          p We don't track identifying information and we anonymize queries. This means that our logs don't track your name or any other
            | information about who you are, and the genes and datasets you look at are scrambled
            | to respect research privacy. Logs are made up of anonymized query information and
            | interaction information, like how visualizations are being used.
          p Why collect this information? Cancer researchers are hard to observe in-lab due to how
            | spread out geographically they are, which makes developing usable visualization software
            | challenging. We use information about how you use the tool to understand how the tool is
            | being used, to identify usability bottlenecks, and come up with new features.



  script(type="text/javascript").
    var data = !{JSON.stringify(data)},
        showDuplicates = !{showDuplicates};

  //- Convert the user data to make it accessible to any javascript
  - if (user)
    script(type='text/javascript').
      var user = !{JSON.stringify(user)};
  - else
    script(type="text/javascript").
      var user = undefined;

  //- Keep modal outside of the rest so it can't be in the background
  div(class="modal fade", id="myModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button", class="close", data-dismiss="modal")
            span(aria-hidden="true") &times;
            span(class="sr-only") Close
          h5(class="modal-title", id="myModalLabel") Share this view
        div(class="modal-body")
          | Copy the link below and share it with your colleages or collaborators.
          | Anyone with the link can now view this page.
          div(id="shareLinkBox")
            input(class="form-control", type="text", name="shareLink", value="", style="width:100%", readonly)

block belowTheFold
      script(src='/components/jquery/dist/jquery.min.js').
      script(src='/components/bootstrap/dist/js/bootstrap.min.js').
      script(src='/components/d3/d3.min.js').
      script(src='/components/hogan/web/builds/2.0.0/hogan-2.0.0.min.js').
      script(src="/components/gd3prime/gd3.js")
      script(src='components/shepherd.js/shepherd.min.js').
      script(src='/js/save.js').
      script(src='/js/view-prime.js').
      script(src='/components/jquery-mousewheel/jquery.mousewheel.min.js'). // req for log.js
      script(src='/js/log.js').
      script(src='/components/typeahead.js/dist/typeahead.bundle.min.js').
      //- Define behavior for the scroll panel to stick to the top of the window
      script(type="text/javascript").
        $(document).ready(function(){
          var jControlPanel = $('#control-panel');
          $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 45) {
              jControlPanel.addClass('fixed').css("position", "fixed").css("top", 0);
            }
            else {
              jControlPanel.css("top", 50-$(window).scrollTop());
              jControlPanel.removeClass('fixed').css("position", "fixed");
            }
          });
        });
        //- Set up bootstrap toggling
        var linksWithToggles = [{link: "instructions", target: "One"},
                                {link: "save", target: "Save"},
                                {link: "annotate", target: "Annotation"}];
        function bootstrapToggle(d){
          $("#" + d.link + "Link").click(function(e){
              e.preventDefault();
              e.stopPropagation();// prevent the default anchor functionality
              $("#collapse" + d.target).collapse('toggle');
            });
        }
        linksWithToggles.forEach(bootstrapToggle);