extends layout
block body
  div
    div(id="control-panel")
      h4 Control Panel
      div(id="controls")
      div(id="saveBox" class="panel panel-default" style="padding:0px")
        div(class="panel-heading", style="padding:5px")
          h5(class="panel-title", data-toggle="collapse", data-parent="#accordion", href="#collapseSave", style="cursor:pointer;font-size:14px;")
            | Download options
            span(style="float:right") [+]

        div(id="collapseSave", class="panel-collapse collapse")
          div(class="panel-body", style="padding:5px")
            p(style="margin:0px;") Select <a href="" id="saveSelectAll"> all</a> or <a href="" id="saveSelectNone">none</a>
            ul(id="saveOptList", style="padding:0px;list-style:none;")
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="cna", style="margin-right:5px;")
                  | Copy number browser
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="mutmatrix", style="margin-right:5px;")
                  | Mutation matrix
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="subnetwork", style="margin-right:5px;")
                  | Subnetwork
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="transcript", style="margin-right:5px;")
                  | Transcript annotation
            a(id="downloadLink", style="cursor:pointer")
              | &raquo; Download as SVG
            br
            a(id="downloadLinkPNG", style="cursor:pointer")
              | &raquo; Download as PNG

            div(id="saveErrMsgContainer")

    div(id="view")
      div(class="panel panel-default")
        div(class="panel-heading")
          h4(class="panel-title", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", style="cursor:pointer")
            | INSTRUCTIONS
            span(style="float:right") [+]

        div(id="collapseOne", class="panel-collapse collapse")
          div(class="panel-body")
            ul
              li
                i
                  b Network.&nbsp;
                | Shows the interactions among genes on the HINT, HPRD, or iRefIndex interaction networks.
                | You can <b>toggle the interaction networks</b> shown by clicking on them in the legend,
                | and you can <b>reposition the nodes </b>in the subnetwork for a better view by <b>dragging/dropping</b> them.
              li
                i
                  b Mutation matrix.&nbsp;
                | Shows the mutations of genes (rows) across samples (columns). Samples are colored by cancer type.
                | Full ticks represent SNVs, downticks represent deletions, upticks represent amplifications,
                | and triangles represent fusions, rearragements or splice variants.
                | Only samples with a mutation in the given subnetwork are shown.
                | You can <b>zoom in on and drag the mutation matrix</b> by scrolling and/or clicking the figure with your mouse.
              li
                i
                  b Transcript annotation.&nbsp;
                | Shows the mutations in each REFSEQ transcript of each gene in the subnetwork.
                | Mutations are colored by cancer type. Each symbol represents a distinct mutation type.
                | Putatively inactivating mutations are shown below the transcript, and the remaining mutations are shown above the transcript.
                | Select one of the three protein domain databases, including Pfam, SMART, and NCBI Conserve Domain, to show annotated protein domains for each transcript -- scroll over a domain to reveal its name.
                | You can <b>zoom in on and drag the transcript annotation</b> by scrolling and/or clicking the figure with your mouse.
              li
                i
                  b Copy number browser.&nbsp;
                | Shows the copy number aberrations surrounding the selected gene (highlighted as red) on the chromosome.
                | The topest panel shows genes (shown as blocks) distributed in the region.
                | You can click and drag a window in this panel to zoom in and see the details in the middle and bottom panels.
                | The middle and bottom panels show genes and copy number aberration inside the zoom in window you just dragged, respectively.
                | Copy number aberrations are colored by cancer type.
                | Each row represents one sample.
                | You can mouseover copy number aberration to get more detail information.

      div
        h3 Mutation matrix
        div(id="mutation-matrix")

      hr(style="clear:both;margin:0px;")

      div(class="half-page-view leftside")
          h3 Subnetwork
          div(id="subnetwork")

      div(class="half-page-view rightside")
          h3 Transcript annotation
          select(class="form-control", id="transcript-plot-select")
          div(id="transcript-plot")

      hr(style="clear:both;margin:0px;")

      //- Copy number browser
      div
        h3 Copy number browser
        select(class="form-control", id="cna-browser-select")
        div(id="cna-browser")

      script(src='components/jquery/dist/jquery.min.js').
      script(src='components/d3/d3.min.js').
      script(src='components/bootstrap/dist/js/bootstrap.min.js').
      script(src='components/gd3/js/cna-browser.js').
      script(src='components/gd3/js/transcript-plot.js').
      script(src='components/gd3/js/mutation-matrix.js').
      script(src='components/gd3/js/subnetwork.js').
      script(src='js/d3-tooltip.js').
      script(src='js/save.js').
      script(src='js/view.js').
      script.
        $(document).ready(function(){
          var jControlPanel = $('#control-panel');
          $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 45) {
              jControlPanel.addClass('fixed');
            }
            else {
              jControlPanel.removeClass('fixed');
            }
          });
        });
