extends header
block body
    div(class="container-fluid", ng-view)

    hr
    div(id="footer", class="text-left")
        p(style="text-align:center") Updated: January 27th, 2014
        
    script(src='components/angular/angular.min.js').
    script(src='components/angular-route/angular-route.min.js').
    script(src='components/jquery/jquery.min.js').
    script(src='components/d3/d3.min.js').
    script(src='components/showdown/compressed/showdown.js').
    script(src='components/bootstrap/dist/js/bootstrap.min.js').
    script(src='js/app.js').
    script(src='js/controllers.js').
    script(src='js/directives.js').
    script(src='js/services.js').
    script(src='components/gd3/js/cna-browser.js').
    script(src='components/gd3/js/lolliplot.js').
    script(src='components/gd3/js/oncoprinter.js').
    script(src='components/gd3/js/subnetwork.js').
    script(src='js/d3-tooltip.js').
