extends layout
block body
  br
  div(id="loading")
    h3 Loading...
    img(src="/img/spinner.gif")
  div(id="view-page")
    div(id="control-panel")
      h4 Control Panel <span id="hideControlPanel">[-]</span>
      a(href="#", id="enrichmentStatsLink")
        | Enrichment statistics
      div(id="controls")
      div(id="viz-options", class="panel panel-default")
        div(class="panel-heading", style="padding:5px")
          h5(class="panel-title", style="cursor:pointer;font-size:14px;", id="optionsLink")
            | Show/hide views
            span(style="float:right") [+]
        div(id="collapseOptions", class="panel-collapse collapse", style="padding:5px")
          b Hide views
          ul(style="padding:0px;list-style:none")
            li(class="checkbox")
              label
                input(type="checkbox", id="AberrationsHideCheckbox")
                | Aberrations
            li(class="checkbox")
              label(style="font-weight:400")
                input(type="checkbox", id="DataMatrixHideCheckbox")
                | Heatmap
            li(class="checkbox")
              label
                input(type="checkbox", id="NetworkTranscriptHideCheckbox")
                | Network and transcript
            li(class="checkbox")
              label
                input(type="checkbox", id="CNAsHideCheckbox")
                | CNAs

      div(id="saveBox", class="panel panel-default", style="padding:0px")
        div(class="panel-heading", style="padding:5px")
          h5(class="panel-title", style="cursor:pointer;font-size:14px;", id="saveLink")
            | Download views
            span(style="float:right") [+]

        div(id="collapseSave", class="panel-collapse collapse")
          div(class="panel-body", style="padding:5px")
            p(style="margin:0px;") Select <a href="" id="saveSelectAll"> all</a> or <a href="" id="saveSelectNone">none</a>
            ul(id="saveOptList", style="padding:0px;list-style:none;")
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="aberrations-download", style="margin-right:5px;")
                  | Aberrations
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="heatmap-download", style="margin-right:5px;")
                  | Heatmap
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="network-download", style="margin-right:5px;")
                  | Network
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="transcript-download", style="margin-right:5px;")
                  | Transcript
              li
                label(style="font-weight:400")
                  input(type="checkbox", id="cna-download", style="margin-right:5px;")
                  | CNAs
            a(id="downloadLink", style="cursor:pointer")
              | &raquo; Download as SVG
            br
            a(id="downloadLinkPNG", style="cursor:pointer")
              | &raquo; Download as PNG

            div(id="saveErrMsgContainer")

      div(id="annotation" class="panel panel-default", style="padding:0px;")
        div(class="panel-heading", style="padding:5px")
          h5(class="panel-title", style="cursor:pointer;font-size:14px;", id="annotateLink")
            | Annotate
            span(style="float:right") [+]

        div(id="collapseAnnotation", class="panel-collapse collapse in")
          div(class="panel-body", style="padding:5px;font-size:90%")
            - if (user)
              | Enter your own annotations.
              br
              a(href="#", onclick="toggleForm('mutation')" id="show-mutation-form", style="font-weight:bold;text-decoration:underline") Mutations
              | &nbsp;|&nbsp;
              a(href="#", onclick="toggleForm('interaction')" id="show-interaction-form") Interactions
              br
              form(method="post", role="form", id="annotations")
                //- Inputs for the mutation annotation form
                div(id="mutations")
                  select(class="form-control", id="gene")
                  br
                  select(class="form-control", id="aberration")
                    option(value="") -- choose aberration type --
                    option(value="amp") is amplified in
                    option(value="del") is deleted in
                    option(value="snv") is mutated in
                    option(value="expression") is expressed (over/under) in
                    option(value="methylation") is methylated (hypo/hyper) in
                  br
                  input(class="typeahead form-control", id="cancer-typeahead", type="text", placeholder="Cancer")
                  label PMID
                  input(class="form-control", id="mutation-pmid", placeholder="PMID", maxlength="8")
                  //- Optional cancer fields
                  label(class="toggle")
                    | Mutation type
                    span(class="glyphicon glyphicon-remove", onclick="$(this).parent().hide();$('input#mut_ty').hide()")
                  input(class="form-control toggle", id="mut_ty", placeholder="Mutation type")
                  label(class="toggle")
                    | Locus
                    span(class="glyphicon glyphicon-remove", onclick="$(this).parent().hide();$('input#locus').hide()")
                  input(class="form-control toggle", id="locus", placeholder="Mutation locus/position.", type="number")
                  label(class="toggle")
                    | Domain
                    span(class="glyphicon glyphicon-remove", onclick="$(this).parent().hide();$('input#domain').hide()")
                  input(class="form-control toggle", id="domain", placeholder="Domain name")
                  label(class="toggle") PMID
                  input(class="form-control toggle", id="mutation-pmid", placeholder="PMID", maxlength="8")
                  label(class="toggle")
                    | Comments
                    span(class="glyphicon glyphicon-remove", onclick="$(this).parent().hide();$('textarea#mutation-comment').hide()")
                  textarea(class="form-control toggle", id="mutation-comment", placeholder="Enter any comments.", type="textarea")
                //- Interaction annotation form
                div(id="interactions", style="display:none")
                  select(class="form-control", id="protein1")
                  b(class="toggle") interacts with
                  select(class="toggle form-control", id="protein2")
                  label(class="toggle") PMID
                  input(class="toggle form-control", id="ppi-pmid", placeholder="PMID", maxlength="8")
                  //- Optional protein interaction fields
                  label(class="toggle") Comments
                    span(class="glyphicon glyphicon-remove", onclick="$(this).parent().hide();$('textarea#interaction-comment').hide()")
                  textarea(class="toggle form-control", id="interaction-comment", placeholder="Enter any comments.", type="textarea")
                br
                input(type="hidden", value="mutation", id="antype")
                button(type="submit", id="submit", class="btn btn-default") Submit
                br
                br
                div(id="annotationStatus")
              br
              a(href="#", id="reset-annotation", onclick="resetAnnotations();return false;")
                span(class="glyphicon glyphicon-trash", style="cursor:pointer")
                | &nbsp;Reset.
            - else
              | You must <a href="/auth/google/returnTo">Login</a> to be able to add annotations.

      div(id="share")
        //- Button trigger modal
        button(id="shareBtn", class="btn btn-primary btn-md", data-toggle="modal", data-target="#myModal") Share

    div(id="instructions")
      div(class="panel panel-default")
        div(class="panel-heading")
          h4(class="panel-title", data-toggle="collapse", data-target="#collapseOne", style="cursor:pointer", id="instructionsLink")
            | INSTRUCTIONS
            span(style="float:right") [+]

        div(id="collapseOne", class="panel-collapse collapse")
          div(class="panel-body")
            ul
              li
                i
                  b Network view.&nbsp;
                | Shows the interactions among genes on the HINT, HPRD, or iRefIndex interaction networks.
                | You can <b>toggle the interaction networks</b> shown by clicking on them in the legend,
                | and you can <b>reposition the nodes </b>in the subnetwork for a better view by <b>dragging/dropping</b> them.
              li
                i
                  b Aberrations view.&nbsp;
                | Shows the mutations of genes (rows) across samples (columns). Samples are colored by cancer type.
                | Full ticks represent SNVs, downticks represent deletions, upticks represent amplifications,
                | and triangles represent fusions, rearragements or splice variants.
                | Only samples with a mutation in the given subnetwork are shown.
                | You can <b>zoom in on and drag the mutation matrix</b> by scrolling and/or clicking the figure with your mouse.
              li
                i
                  b Heatmap view.&nbsp;
                | Shows continuous-valued data in a query set of genes (rows) in a cohort of samples (columns) as heatmap.
                | By default, displays expression data in only the samples in which the genes are mutated.
              li
                i
                  b Transcript view.&nbsp;
                | Shows the mutations in each REFSEQ transcript of each gene in the subnetwork.
                | Mutations are colored by cancer type. Each symbol represents a distinct mutation type.
                | Putatively inactivating mutations are shown below the transcript, and the remaining mutations are shown above the transcript.
                | Select one of the three protein domain databases, including Pfam, SMART, and NCBI Conserve Domain, to show annotated protein domains for each transcript -- scroll over a domain to reveal its name.
                | You can <b>zoom in on and drag the transcript annotation</b> by scrolling and/or clicking the figure with your mouse.
              li
                i
                  b CNA view.&nbsp;
                | Shows the copy number aberrations surrounding the selected gene (highlighted as red) on the chromosome.
                | The topest panel shows genes (shown as blocks) distributed in the region.
                | You can click and drag a window in this panel to zoom in and see the details in the middle and bottom panels.
                | The middle and bottom panels show genes and copy number aberration inside the zoom in window you just dragged, respectively.
                | Copy number aberrations are colored by cancer type.
                | Each row represents one sample.
                | You can mouseover copy number aberration to get more detail information.

    div(id="spinner")
    div(id="view")

      div
        div(id="aberrationsRow")
          h3
            | Aberrations
            small
              | &nbsp;&nbsp;
              a(id="printAberrs", title="Print aberrations view.")
                  span(class="glyphicon glyphicon-print")
          div(id="aberrations")
          br
        //- Heatmap view
        div(id="dataMatrixRow")
          h3(id="heatmap-title")
              span(class="name") Heatmap
              small(style="font-size:12px")
                | &nbsp;&nbsp;
                a(id="printHmpViz", title="Print heatmap.")
                    span(class="glyphicon glyphicon-print")
          div(id="heatmap")


      hr(style="margin:0px;")

      div(id="networkTranscriptRow")
        div(class="half-page-view leftside")
            h3
              | Network
              small(style="font-size:12px")
                | &nbsp;&nbsp;
                a(id="printSubNet", title="Print network.")
                    span(class="glyphicon glyphicon-print")
            div(id="network")

        div(class="half-page-view rightside")
            h3
              | Transcript
              small
                | &nbsp;&nbsp;
                a(id="printTrnAnt", title="Print transcript view.")
                    span(class="glyphicon glyphicon-print")
            select(class="form-control", id="transcript-select")
            div(id="transcript")

      hr(style="clear:both;margin:0px;")

      //- CNA view
      div(id="cnasRow")
        h3
          | Copy number aberrations
          small
            | &nbsp;&nbsp;
            a(id="printCnaViz", title="Print CNA view.")
                span(class="glyphicon glyphicon-print")

        select(class="form-control", id="cnas-select")
        div(id="cnas")

    br
    br
    div(style="margin-left: 20px;min-width: 400px; max-width: 600px; margin-right: 200px")
      input(id="magiConsentViewToggle", style="display:inline-block;margin-right:5px", type="checkbox")
      p(style="display:inline-block") I do not want to improve the development of MAGI by sending usage information. <a href="" id="magi-loggingReadMore" style="color:rgb(100,100,100)">(Read More)</a>
      div(id="magi-loggingReadMoreDiv")
        blockquote
          p We don't track identifying information and we anonymize queries. This means that our logs don't track your name or any other
            | information about who you are, and the genes and datasets you look at are scrambled
            | to respect research privacy. Logs are made up of anonymized query information and
            | interaction information, like how visualizations are being used.
          p Why collect this information? Cancer researchers are hard to observe in-lab due to how
            | spread out geographically they are, which makes developing usable visualization software
            | challenging. We use information about how you use the tool to understand how the tool is
            | being used, to identify usability bottlenecks, and come up with new features.



  script(type="text/javascript").
    var data = !{JSON.stringify(data)},
        showDuplicates = !{showDuplicates};

  //- Convert the user data to make it accessible to any javascript
  - if (user)
    script(type='text/javascript').
      var user = !{JSON.stringify(user)};
  - else
    script(type="text/javascript").
      var user = undefined;

  //- Keep modal outside of the rest so it can't be in the background
  div(class="modal fade", id="myModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button", class="close", data-dismiss="modal")
            span(aria-hidden="true") &times;
            span(class="sr-only") Close
          h5(class="modal-title", id="myModalLabel") Share this view
        div(class="modal-body")
          | Copy the link below and share it with your colleages or collaborators.
          | Anyone with the link can now view this page.
          div(id="shareLinkBox")
            input(class="form-control", type="text", name="shareLink", value="", style="width:100%", readonly)

block belowTheFold
      script(src='/components/jquery/dist/jquery.min.js').
      script(src='/components/bootstrap/dist/js/bootstrap.min.js').
      script(src='/components/d3/d3.min.js').
      script(src='/components/hogan/web/builds/2.0.0/hogan-2.0.0.min.js').
      script(src="/components/gd3/gd3.js")
      script(src='components/shepherd.js/shepherd.min.js').
      script(src='/components/typeahead.js/dist/typeahead.bundle.min.js').
      script(src='/components/jquery-mousewheel/jquery.mousewheel.min.js'). // req for log.js
      script(src='/js/save.js').
      script(src='/js/view.js').
      script(src='/js/annotate.js').
      script(src='/js/log.js').
      //- Define behavior for the scroll panel to stick to the top of the window
      script(type="text/javascript").
        $(document).ready(function(){
          var jControlPanel = $('#control-panel');
          $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 45) {
              jControlPanel.addClass('fixed').css("position", "fixed").css("top", 0);
            }
            else {
              jControlPanel.css("top", 50-$(window).scrollTop());
              jControlPanel.removeClass('fixed').css("position", "fixed");
            }
          });
        });
        //- Set up bootstrap toggling
        var linksWithToggles = [{link: "instructions", target: "One"},
                                {link: "save", target: "Save"},
                                {link: "annotate", target: "Annotation"},
                                {link: "options", target: "Options"}];
        function bootstrapToggle(d){
          $("#" + d.link + "Link").click(function(e){
              e.preventDefault();
              e.stopPropagation();// prevent the default anchor functionality
              $("#collapse" + d.target).collapse('toggle');
            });
        }
        linksWithToggles.forEach(bootstrapToggle);
        //- Append this page's query parameters to create the enrichments link
        $("#enrichmentStatsLink").attr("href", "/enrichments?" + window.location.href.split("?")[1]);
