/* app css stylesheet */

html,body{
  margin: 0;
  padding: 0;

  font-family: 'Calibri', sans-serif
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

div.container-fluid{ margin:15px; }

h1, h2, h3, h4, h5{
  margin:0;
  padding:0;
}

/* Layout styling */
div.indexTop {
  margin:0 auto 60px auto;
  min-height: 170px
  text-align:center;
  width: 750px;
}
div.indexTop ul {
  list-style: none;
}
div.indexTop ul li {
  display: inline;
  margin-right: 35px;
  font-size: 20px;
  margin-top:30px;
}
div.indexTop ul li a {
  color: #679937;
  font-size: 20px;
}
div.indexTop ul li a.loginBtn {
  border-color: #ddd;
  margin-top: -3px;
}

div#sec-about{
  margin-top: 100px;
}

div#splash-txt{
  margin: 0 auto;
  padding: 0 0 60px 0;
  width: 650px;
}

img#splash-logo{
  display: block;
  margin: 0 auto 100px 0;
  padding-top: 30px;
}


div#component-descriptions, div.container-index {
  margin: 0 auto;
  width: 800px;
}
div#header{
  /*background: #333;*/
  /*border-bottom: 1px solid #ccc;*/
  height: 35px;
  margin:0;
  padding:0 15px;
}
div#login{
  margin-top:6px;
  float:right;
  color:#428bca;
}

div.page-header{
  height: 25px;
  padding:0;margin:0;border:0;
}

/* Footer */
ul#more-info, ul#even-more-info{list-style-type: none;padding-left:0px;}
ul#more-info li, ul#even-more-info li{display:inline;padding-left:5px;padding-right:5px;}
ul#even-more-info{ font-size:80%;text-align:center;}

/* Logo */
img#small-logo {
  margin: -15px 0 0 0;
  padding:0;
}
div#splash-img{
/*  background-image: url('../img/banner.png');
  background-position: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 250px;
  max-width: 1170px;*/
  margin-top: 50px;
  margin-bottom: 50px;
}

div#splash-img div {
  display: inline-block;
  min-width:25%;
  text-align: center;
  width: 25%;
}

div#splash-img a {
  cursor: pointer;
  text-decoration: none;
}
div#splash-img a:hover {
  opacity: .7;
}
div#splash-img a img{
  border:none;
}

img#cnaSlice{
  margin-left: -245px;
}
img#oncoSlice:hover{
  opacity: .0;
}
img#subnetSlice{
  clip: rect(0,0,200,200)/*polygon(0px 0px, 248px 250px, 0px 250px)*/;
  margin-left: -245px;
  overflow: hidden;
  position: absolute;
}
img#transcriptSlice{
  margin-left: -248px;
}
.bannerSlice:hover{
  opacity: 1;
}

/* Query box */
ul#cgat-actions li{border-color:#d6e9c6;}
ul#cgat-actions li a{ color:#3c763d;font-weight:500;font-size:16px; }
ul#cgat-actions li a:hover{ background-color:#dff0d8; }

/* Styling index page (choosing genes or datasets) */
div#db-chooser{overflow-y:none;}
div#db-select{padding-left:0px;}
div#gene-textarea{margin-top:5px;padding-left:0px;}
div#query div.instructions ul{padding-left:17px;}

div#example-queries{ clear:both; }
div#example-queries a{ margin-right:15px; }
textarea.highlight, li.highlight{ border:1px dashed red;}
ul.highlight{ border-bottom:1px dashed red;}

div#component-descriptions {}
div#component-descriptions h4{ border-top: 15px solid #333; color:#333; padding-left:6px;padding-bottom:3px;padding-top:3px; }
div#component-descriptions h4 a{ color:#bbb; }
div#component-descriptions h4 a:hover{ color:#666; }
div#component-descriptions img{ border:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px; }

/* Account page */
table tr.even td{ background:#fff;}
table tr.odd td, table tr.odd th{ background:rgb(249, 249, 249);}

/* Acknowledgements page */
div#acknowledgements img{ margin-right:25px;}
div#acknowledgements img.color{ display:none;}

/* Upload page */
div#upload form{ width:40%;}

/* Styling for visualizations */
div#control-panel{width:200px;border:#333 solid 10px;position:absolute;right:20px;background:#333;}
.fixed {position: fixed; top: 0; z-index: 1;right:20px;}

div#control-panel h4{text-align:center;background:#333;color:#fff;padding-bottom:3px;}

div#control-panel div#controls{ padding-top:2px; border-radius:4px;}
div#control-panel div#controls ul#datasets{list-style-type: none;padding-left:7px;font-size:90%;}

div#control-panel div#controls ul#datasets li div{display:inline-block;}
div#control-panel div#controls ul#datasets li div.dataset-color{margin-right:10px;height:11px;width:11px;border-radius:3px;padding:2px;border:1px solid #eee;}
div#view{margin-left:20px;margin-right:230px;}
div#view h3 small{ font-size:12px;cursor:pointer;}

span#hideControlPanel {display:none;}

div.half-page-view{ width:50%;padding:5px; }
div.half-page-view.leftside{border-right:1px solid #eee;float:left;}
div.half-page-view.rightside{float:right;}

/* Dataset summary page */
div#dataset-summary div#left{ width:35%;display:table-cell;}
div#dataset-summary table{ margin-bottom:5px;}
div#dataset-summary table tr th{ text-align:center;cursor:pointer; }
div#dataset-summary table tr.odd td.sorting_1{ background:rgb(194, 198, 232); }
div#dataset-summary table tr.even td.sorting_1{ background:rgb(234, 236, 254); }
div#dataset-summary table th.sorting_asc span{ color:rgb(194, 198, 232); }
div.dataTables_paginate{ text-align: center;}
div#dataset-summary ul.pagination{ margin-top:0px;padding-top:0px;font-size:80%;margin:0px auto; }
div#dataset-summary ul.pagination{ margin-top:0px;padding-top:0px;font-size:80%;margin:0px auto; }
div#dataset-summary div.dataTables_filter{ padding-bottom:5px;}
.dataTables_info{ font-size:70%;float:right; }
div#mutations-plot{ padding-left:10%;display:table-cell;}

/* The good DataTable styling */
table.dataTable thead th {padding: 3px 18px 3px 10px;border-bottom: 1px solid black;font-weight: bold;cursor: pointer;*cursor: hand;}
.sorting { background: url('/components/DataTables/media/images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('/components/DataTables/media/images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('/components/DataTables/media/images/sort_desc.png') no-repeat center right; }
.sorting_asc_disabled { background: url('/components/DataTables/media/images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('/components/DataTables/media/images/sort_desc_disabled.png') no-repeat center right; }

/* Contact page */
address{ margin-left:15px;width:350px }
address img{ float:right; }

/* Annotation styling */
div#annotation div#inputs label {width: 100%;}
div#annotation div#inputs label span.glyphicon{ float:right;font-size:80%;cursor:pointer}
/* Styling for d3-tip */
.d3-tip {line-height: 1;padding: 7px;background: rgba(0, 0, 0, 0.8);color: #fff;border-radius: 5px;font-size:80%;max-width:300px;}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {box-sizing: border-box;display: inline;font-size: 10px;width: 100%;line-height: 1;color: rgba(0, 0, 0, 0.8);content: "\25BC";position: absolute;text-align: center;}

/* Style northward tooltips differently */
.d3-tip.n:after {margin: -3px 0 0 0;top: 100%;left: 0;}

.d3-tip table{ font-size:90%; }
.d3-tip table th{ min-width:75px; }
.d3-tip .m2-tooltip span.info{ float:left; }
.d3-tip .m2-tooltip span.x{ float:right;cursor:pointer; }
.d3-tip .m2-tooltip div.less-info{ display:inline; }
.d3-tip .m2-tooltip div.more-info{ display:none; }
.d3-tip .m2-tooltip ul{ padding-left:10px; }

/* Typeahead.js styling */
.tt-query,
.tt-hint {
width: 160px;
font-size: 14px;
}

.tt-query {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
color: #999
}

.tt-dropdown-menu {
max-height: 150px;
overflow-y: auto;
width: 160px;
margin-top: 12px;
padding: 8px 0;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
padding: 3px 20px;
font-size: 12px;
line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
color: #fff;
background-color: #0097cf;

}

.tt-suggestion p {
margin: 0;
}

/* Up- and downvoting styles. */
a.upvote, a.downvote { color: #fff; margin: 0px 5px 0px 5px; cursor:pointer; text-shadow: 0px 0px 0px #fff;}
a.upvote.upvote-on, a.downvote.downvote-on {color: orange; text-shadow: 0px 0px 6px rgba(255,255,255,0.7);}
