/* app css stylesheet */

html,body{
  margin: 0;
  padding: 0;

  font-family: 'Calibri', sans-serif
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5{
  margin:0;
  padding:0;
}

.toggle{ display:none; }
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Layout styling */
div.navbar {
  background: #333;
  border:none;
  border-bottom: 2px solid #8cc63f;
  border-radius: 0;
  margin-bottom: 0;
}
ul.nav li a {
  color: #ccc;
}
ul.nav li a:hover {
  color: #8cc63f !important;
}
.navbar-brand {
  color: #6b73b5 !important;
  font-weight: bold;
}

div.banner {
  background:#545e8e;
  border-bottom: 2px solid #8cc63f;
}
div.banner .container-fluid {
  background: #fff;
  border-left: 10px solid #8cc63f;
  border-right: 10px solid #8cc63f;
  padding: 35px 15px;
  max-width: 820px;
}
div.banner::before {
  position:absolute;
  content: '';
  box-shadow:  0px 5px 16px 0px rgba(0, 0, 0, 0.75);
  line-height: 1;
  top:52px;
  left: 0px;
  width: 100%;
  height: 2px;
}

h1.bannerHeader {
  color: #6b73b5;
  font-size: 55px;
  font-weight:bold;
}

.btn-tour {
  color: #8cc63f;
  background-color: #6b73b5;
  border-color: #545e8e;
  font-weight: bold;
}
.btn-tour:hover {
  color: #8cc63f;
  text-decoration: underline;
}

div.indexTop {
  margin:0 auto 60px auto;
  min-height: 170px
  text-align:center;
  width: 750px;
}
div.indexTop ul {
  list-style: none;
}
div.indexTop ul li {
  display: inline;
  margin-right: 35px;
  font-size: 20px;
  margin-top:30px;
}
div.indexTop ul li a {
  color: #565975;
  font-size: 20px;
}
div.indexTop ul li a.loginBtn {
  border-color: #ddd;
  margin-top: -3px;
}

/* Make nice file upload buttons (from http://goo.gl/nBijOX) */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
div#sec-about{
  margin-top: 100px;
}

div#splash-txt{
  margin: 0 auto;
  padding: 0 0 60px 0;
  width: 650px;
}

img#splash-logo{
  display: block;
  margin: 0 auto 50px 0;
}

button.submit {
  background: #9DA7D4;
  border-color: #6A73B6;
}
button.submit:hover {
  background: #6A73B6;
}

div#component-descriptions, div.container-index {
  margin: 0 auto;
  width: 800px;
}
div#header{
  height: 35px;
  margin:0;
  padding:0 15px;
}
div.query{
  border-color: #9DA7D4;
}
div#input-chooser .twitter-typeahead { width: 100%; } 
div#input-chooser .tt-dropdown-menu{ min-width:300px;}

div#login{
  margin-top:6px;
  float:right;
  color:#428bca;
}

div.page-header{
  height: 25px;
  padding:0;margin:0;border:0;
}

/* Footer */
ul#more-info, ul#even-more-info{list-style-type: none;padding-left:0px;}
ul#more-info li, ul#even-more-info li{display:inline;padding-left:5px;padding-right:5px;}
ul#even-more-info{ font-size:80%;text-align:center;}

/* Logo */
img#small-logo {
  margin: -15px 0 0 0;
  padding:0;
}
div#splash-img{
  margin-top: 50px;
  margin-bottom: 50px;
}

div#splash-img div {
  display: inline-block;
  min-width:25%;
  text-align: center;
  width: 25%;
}

div#splash-img a {
  cursor: pointer;
  text-decoration: none;
}
div#splash-img a:hover {
  opacity: .7;
}
div#splash-img a img{
  border:none;
}

img#cnaSlice{
  margin-left: -245px;
}
img#oncoSlice:hover{
  opacity: .0;
}
img#subnetSlice{
  clip: rect(0,0,200,200)/*polygon(0px 0px, 248px 250px, 0px 250px)*/;
  margin-left: -245px;
  overflow: hidden;
  position: absolute;
}
img#transcriptSlice{
  margin-left: -248px;
}
.bannerSlice:hover{
  opacity: 1;
}

/* Query box */
ul#magi-actions li{
  border-color:#d6e9c6;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
ul#magi-actions li.activeAction{ background-color:#9DA7D4;}
ul#magi-actions li a{ color:#565975;font-weight:500;font-size:16px; }
ul#magi-actions li a:hover{ background-color:#9DA7D4; }

/* Styling index page (choosing genes or datasets) */
div#db-chooser{overflow-y:none;}
div#db-select{padding-left:0px;}
div#gene-textarea{margin-top:5px;padding-left:0px;}
div.query div.instructions ul{padding-left:17px;}

div#example-queries{ clear:both; }
div#example-queries a{ margin-right:15px; }
textarea.highlight, li.highlight{ border:1px dashed red;}
ul.highlight{ border-bottom:1px dashed red;}

div#component-descriptions {}
div#component-descriptions h4{ border-top: 15px solid #333; color:#333; padding-left:6px;padding-bottom:3px;padding-top:3px; }
div#component-descriptions h4 a{ color:#bbb; }
div#component-descriptions h4 a:hover{ color:#666; }
div#component-descriptions img{ border:1px solid #d3d3d3;padding-top:5px;padding-bottom:5px; }

/* Account page */
div.attention{
  background: #E6F4FF;
  border: 1px solid rgb(156, 204, 247);
  border-radius: 4px;
  padding: 10px;
}

table tr.even td{ background:#fff;}
table tr.odd td, table tr.odd th{ background:rgb(249, 249, 249);}

input#consentLog{margin-right: 5px;}
p#consentMoreInfo{cursor:pointer;font-style: italic; margin: 0 0 0 18px;}
div#consentMoreInfoDiv{display:none; margin-left: 18px;}
div#consentMoreInfoDiv hr{border-color: rgb(156, 204, 247); margin: 10px 0;}

div#magi-loggingReadMoreDiv{display:none; visibility:hidden;}
div#magi-loggingReadMoreDiv blockquote{font-size: 14px;}

/* Acknowledgements page */
div#acknowledgements img{ margin-right:25px;}
div#acknowledgements img.color{ display:none;}

/* Upload page */
div#upload form{ width:40%;}

#randomColor {
  cursor: pointer;
}

ul.uploadSelectorOptions li a {
  color: inherit;
  padding: 5px;
}
ul.uploadSelectorOptions li a:hover {
  background: #eee !important;
  color: #6b73b5 !important;
}

table.uploadDataTable * * * {
  min-width: 100px;
}


/* Styling for visualizations */
div#loading{background:#fff;width:100%;height:100%;position:fixed;left:0px;top:51px;z-index:1000;opacity:0.8;padding-left:45%;padding-top:18%}
div#view-page{ opacity:0;min-height:800px; }
div#control-panel{width:200px;border:#333 solid 10px;position:absolute;right:0px;background:#333;max-height:100%;overflow-y:scroll;}
.fixed {position: fixed; top: 0; z-index: 1;right:0px;}

div#control-panel h4{text-align:center;background:#333;color:#fff;padding-bottom:3px;}

div#control-panel div#controls{ padding-top:2px; border-radius:4px;}
div#control-panel div#controls ul#datasets{list-style-type: none;padding-left:4px;font-size:90%;}

div#control-panel div#controls ul#datasets li div{display:inline-block;}
div#control-panel div#controls ul#datasets li div.dataset-color{margin-right:10px;height:11px;width:11px;border-radius:3px;padding:2px;border:1px solid #eee;}
div#view{margin-left:20px;margin-right:230px;}
div#view h3 small{ font-size:12px;cursor:pointer;}
div#instructions{margin-left:20px;margin-right:230px;;}
div#spinner{height: 300px; margin-right:230px; background-image:url('../img/spinner.gif'); background-repeat: no-repeat; background-position: center; display:none;}

div.half-page-view{ width:50%;padding:5px; }
div.half-page-view.leftside{border-right:1px solid #eee;float:left;}
div.half-page-view.rightside{float:right;}

/* Dataset summary page */
div#dataset-summary div#left{ width:35%;display:table-cell;}
div#dataset-summary table{ margin-bottom:5px;}
div#dataset-summary table tr th{ text-align:center;cursor:pointer; }
div#dataset-summary table tr.odd td.sorting_1{ background:rgb(194, 198, 232); }
div#dataset-summary table tr.even td.sorting_1{ background:rgb(234, 236, 254); }
div#dataset-summary table th.sorting_asc span{ color:rgb(194, 198, 232); }
div.dataTables_paginate{ text-align: center;}
div#dataset-summary ul.pagination{ margin-top:0px;padding-top:0px;font-size:80%;margin:0px auto; }
div#dataset-summary ul.pagination{ margin-top:0px;padding-top:0px;font-size:80%;margin:0px auto; }
div#dataset-summary div.dataTables_filter{ padding-bottom:5px;}
.dataTables_info{ font-size:70%;float:right; }
div#mutations-plot{ padding-left:10%;display:table-cell;}

/* The good DataTable styling */
table.dataTable thead th {padding: 3px 18px 3px 10px;border-bottom: 1px solid black;font-weight: bold;cursor: pointer;*cursor: hand;}
.sorting { background: url('/components/DataTables/media/images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('/components/DataTables/media/images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('/components/DataTables/media/images/sort_desc.png') no-repeat center right; }
.sorting_asc_disabled { background: url('/components/DataTables/media/images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('/components/DataTables/media/images/sort_desc_disabled.png') no-repeat center right; }

/* Contact page */
address{ margin-left:15px;width:350px }
address img{ float:right; }

/* Annotation styling */
form#annotations label {width: 100%;}
form#annotations input{ margin-bottom:5px;}
form#annotations label span.glyphicon{ float:right;font-size:80%;cursor:pointer}
/* Styling for d3-tip */
table.gd3-tooltip-table{
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
}
table.gd3-tooltip-table tr{
  border-top:1px solid #fff;
  margin:3px;
}

/* Typeahead.js styling */
.tt-query,
.tt-hint {
width: 160px;
font-size: 14px;
}

.tt-query {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
color: #999
}

.tt-dropdown-menu {
max-height: 150px;
overflow-y: auto;
width: 160px;
margin-top: 12px;
padding: 8px 0;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
padding: 3px 20px;
font-size: 12px;
line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
color: #fff;
background-color: #0097cf;

}

.tt-suggestion p {
margin: 0;
}

/* Up- and downvoting styles. */
a.upvote, a.downvote { color: #fff; margin: 0px 5px 0px 5px; cursor:pointer; text-shadow: 0px 0px 0px #fff;}
a.upvote.upvote-on, a.downvote.downvote-on {color: orange !important; text-shadow: 0px 0px 6px rgba(255,255,255,0.7);}
span.comment input{ font-size:9pt;display:inline;width:80%;height:20px;}
span.comment a{cursor:pointer;margin-left:3px;}
div.annotation-table a.upvote, div.annotation-table a.downvote{ color:#000;}
div.annotation-table td, div.annotation-table th{ text-align: center;}

/* Boostrap changes */
.popover{
    max-width: 500px;
}


/* Shepherd.js */
.shepherd-element.shepherd-theme-arrows.shepherd-transparent-text .shepherd-text {
  color: #3b744f !important;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content {
  width: 400px !important;
  max-width: 100%;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content a {
  color: inherit;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
  background: #6b73b5 !important;
}
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button-secondary {
  background: #eee !important;
  color: #aaa ! important;
}

.banner > *, .navbar > *, .container-index > * {
/*  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0.3;*/
}
body:not(.shepherd-active) .banner > *,
body:not(.shepherd-active) .navbar > *,
body:not(.shepherd-active) .container-index > * {
  opacity: 1;
}
.shepherd-target.shepherd-enabled {
  opacity: 1 !important;
}


/* D3-Tip styling from http://rawgit.com/Caged/d3-tip/master/examples/example-styles.css */
.d3-tip {line-height: 1;font-weight: bold;padding: 12px;background: rgba(0, 0, 0, 0.8);color: #fff;border-radius: 2px;pointer-events: none;}/* Creates a small triangle extender for the tooltip */.d3-tip:after {box-sizing: border-box;display: inline;font-size: 10px;width: 100%;line-height: 1;color: rgba(0, 0, 0, 0.8);position: absolute;pointer-events: none;}/* Northward tooltips */.d3-tip.n:after {content: "\25BC";margin: -1px 0 0 0;top: 100%;left: 0;text-align: center;}/* Eastward tooltips */.d3-tip.e:after {content: "\25C0";margin: -4px 0 0 0;top: 50%;left: -8px;}/* Southward tooltips */.d3-tip.s:after {content: "\25B2";margin: 0 0 1px 0;top: -8px;left: 0;text-align: center;}/* Westward tooltips */.d3-tip.w:after {content: "\25B6";margin: -4px 0 0 -1px;top: 50%;left: 100%;} 